<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- property from external resources -->
    <properties resource="config/mybatis/applications.properties"/>
    <!-- settings -->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
        <setting name="safeRowBoundsEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="false" />
        <setting name="localCacheScope" value="SESSION" />
        <setting name="jdbcTypeForNull" value="OTHER" />
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode ,toString" />
        -->
    </settings>
    <!-- type aliases(full class name -> simple class name) -->
    <typeAliases>
        <!--
        <typeAlias alias="Student" type="com.mybatis3.domain.Student" />
        -->
        <package name="per.piers.onlineJudge.model"/>
    </typeAliases>
    <!-- type handlers -->
    <typeHandlers>
        <typeHandler handler="per.piers.onlineJudge.handler.SexTypeHandler" javaType="per.piers.onlineJudge.model.Sex"
                     jdbcType="BOOLEAN"/>
    </typeHandlers>
    <!-- environment -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/jdbc/mybatis"/>
            </dataSource>
        </environment>
    </environments>
    <!-- mappers location -->
    <mappers>
        <!--
        <mapper url="file:///D:/mybatisdemo/app/mappers/TutorMapper.xml" />
        <mapper class="com.mybatis3.mappers.TutorMapper" />
        -->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/QuestionMapper.xml"/>
        <mapper resource="mapper/CategoryMapper.xml"/>
        <mapper resource="mapper/TestDataMapper.xml"/>
        <mapper resource="mapper/TestInfoMapper.xml"/>
        <mapper resource="mapper/ScoreMapper.xml"/>
        <mapper resource="mapper/AdvisorMapper.xml"/>
    </mappers>
</configuration>