<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.piers.onlineJudge.mapper.TestDataMapper">
    <insert id="insertTestData" parameterType="TestData" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO questions (qid, name, description, cid)
        VALUES (#{qid}, #{name}, #{description}, #{cid})
    </insert>
    <update id="updateTestData" parameterType="TestData">
        UPDATE questions
        <trim prefix="SET" suffixOverrides=",">
            <if test="qid != null">qid = #{qid},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="cid != null">cid = #{cid},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="deleteTestData" parameterType="Integer">
        DELETE FROM users
        WHERE id = #{id}
    </delete>
    <select id="selectTestData" parameterType="TestData" resultMap="testDataResult">
        SELECT *
        FROM (SELECT DISTINCT qid
              FROM test_data) AS t1 LEFT JOIN test_data AS t2 ON t1.qid = t2.qid
        <if test="testData != null">
            <where>
                <if test="testData.qid != null">t1.qid = #{testData.qid}</if>
            </where>
        </if>
    </select>
    <resultMap id="testDataResult" type="TestData">
        <result column="qid" property="qid"/>
        <collection property="inputOutputs" resultMap="testDataInputOutput"/>
    </resultMap>
    <resultMap id="testDataInputOutput" type="InputOutput">
        <id column="id" property="id"/>
        <result column="input" property="input"/>
        <result column="output" property="output"/>
    </resultMap>
</mapper>
