<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.piers.onlineJudge.mapper.TestInfoMapper">
    <insert id="insertTestInfo" parameterType="TestInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tests (uid, qid, submit_time, code, correct_rate)
        VALUES (#{uid}, #{qid}, #{submitTime}, #{code}, #{correctRate})
    </insert>
    <update id="updateTestInfo" parameterType="TestInfo">
        UPDATE categories
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{name},</if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="deleteCategory" parameterType="Integer">
        DELETE FROM categories
        WHERE id = #{id}
    </delete>
    <select id="selectCategory" parameterType="Integer" resultMap="categoryResult">
        SELECT *
        FROM questions LEFT JOIN categories ON questions.cid = categories.id
        <where>
            <if test="id != null">questions.id = #{id}</if>
        </where>
    </select>
    <resultMap id="categoryResult" type="Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>
</mapper>
